$c-promos: #211e1d;
$c-accent: #da3c43;
$c-border: #e5e5e5;
$c-text-light: #b2b1b1;
$c-text: #2b2a28;
$c-discount: #66932c;
$c-hit: #e66e17;
$c-choice: #319dc5;
$c-header-text: #4c4c4c;
$c-main-menu: #f5f5f5;
$c-grey: #211e1d;
$c-subscribes: #f5f5f5;
$c-os: #767676;
$c-filters: #4a4a4a;