@import "helpers/reset";
@import "helpers/slick";
@import "helpers/slick-theme";
@import "helpers/mixins";
@import "helpers/vars";

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,700,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');

img{
  max-width: 100%;
  height: auto;
}

body{
  font: 300  16px 'Rubik', sans-serif;
  color: $c-text;
  line-height: 1.2;
  opacity: 0;
  overflow-y: hidden;

  @include transite(all);

  &.is-active{
    opacity: 1;
    overflow-y: auto;
  }
}

.overlay{
  visibility: hidden;
  z-index: 99;
  opacity: 0;
  background: rgba(#000, .6);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  @include transite(all);

  &.active{
    visibility: visible;
    opacity: 1;
  }
}

a{
  color: inherit;

  @include transite(all);

  &:hover{
    color: $c-accent;
  }
}

ul.primary li a{
  font-size: 14px;
  //color: $c-grey;
}

.promos{
background: $c-promos;

  .container{
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;

    @include respond-to(960){
      width: 960px;
    }
    @include respond-to(768){
      width: 768px;
    }
    @include respond-to(320){
      width: 320px;
      justify-content: flex-end;
    }

    .block{

      .content{
        color: $c-text-light;
        font-size: 14px;

        a{
          color: #fff;

          @include transite(all);

          &:hover{
            color: $c-accent;
          }
        }
      }
    }
  }

  .region-promos-left{
    display: flex;
    align-items: center;
    margin-left: 265px;

    @include respond-to(960){
      margin-left: 0;
    }
    @include respond-to(320){
      display: none;
    }

    #block-block-25{
      margin-right: 64px;

      .content{
        text-decoration: underline;
      }
    }

    #block-block-26{

      @include respond-to(768){
        display: none;
      }
    }
  }

  .region-promos-right{
    display: flex;

    .block{

      .content{

        a{
          color: #fff;
        }
      }
    }

    #block-block-27{
      margin-right: 21px;
      padding-right: 21px;

      @include respond-to(320){
        border-right: 1px solid #fff;
      }
    }
  }
}

header{
  width: 1440px;
  height: 87px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include respond-to(960){
    width: 960px;
  }
  @include respond-to(768){
    width: 768px;
  }
  @include respond-to(320){
    width: 320px;
  }

  .logo{
    margin-left: 34px;

    @include respond-to(960){
      margin-left: 0;
    }
  }

  .region-header{
    display: flex;
    align-items: center;
    color: $c-header-text;

    .block .content{
      font-size: 14px;
    }
  }

  #block-views-exp-products-catalog-page-1{
    margin-right: 42px;

    @include respond-to(960){
      margin-right: 25px;
    }
    @include respond-to(768){
      margin-right: 52px;
    }
    @include respond-to(320){
      display: none;
    }

    .content{

      form{
        border: 1px solid $c-border;
        border-radius: 4px;
        position: relative;

        input[type="text"]{
          width: 585px;
          height: 39px;
          padding: 0 20px;

          @include respond-to(960){
            width: 253px;
          }
          @include respond-to(768){
            width: 356px;
          }
        }

        input[type="submit"]{
          width: 37px;
          height: 37px;
          background: $c-accent;
          border-radius: 4px;
          position: absolute;
          right: 1px;
          top: 1px;
          text-indent: -99999px;
        }
      }
    }
  }

  #block-block-29{
    padding-left: 57px;
    padding-right: 30px;

    @include respond-to(960){
      padding-left: 36px;
      padding-right: 25px;
    }
    @include respond-to(768){
      display: none;
    }
  }

  #block-block-30{
    width: 162px;
    margin-right: 45px;
    padding-left: 46px;
    padding-right: 50px;
    border-right: 1px solid $c-border;

    @include respond-to(960){
      padding-left: 25px;
      padding-right: 24px;
      width: 116px;
      border-left: 1px solid $c-border;
    }
    @include respond-to(768){
      display: none;
    }

    .content{
    }
  }
}

.navigation{
  background: $c-accent;

  .btns{
    display: none;

    @include respond-to(768){
      display: flex;
      width: 768px;
      margin: 0 auto;
      padding: 0 20px;
      height: 45px;
    }
    @include respond-to(320){
      width: 320px;
      justify-content: center;
    }

    .btn{
      color: #fff;
      font-size: 14px;
      font-weight: 400;
      padding-left: 40px;
      position: relative;
      display: flex;
      align-items: center;

      &.btn__menu{
        margin-right: 64px;

        @include respond-to(320){
          margin-right: 56px;
        }

        .icon{
          flex-direction: column;
          justify-content: space-between;
          width: 21px;
          height: 16px;
          top: calc(50% - 1px);

          .line{
            height: 1px;
            border-bottom: 2px solid #fff;
          }
        }
      }

      &.btn__catalog{

        .icon{
          justify-content: space-between;
          align-items: space-between;
          flex-wrap: wrap;
          width: 18px;
          height: 18px;
          align-content: space-between;

          .line{
            width: 7px;
            height: 7px;
            background: #fff;
          }
        }
      }

      .icon{
        display: flex;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        text-indent: -99999px;
      }
    }
  }

  >ul.menu{
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;

    @include respond-to(960){
      width: 960px;
    }

    @include respond-to(768){
      display: none;
    }

    >li{
      flex: 1 1 auto;

      >a{
        display: block;
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        height: 45px;
        line-height: 45px;
        text-align: center;
        position: relative;
        white-space: nowrap;

        @include respond-to(960){
          font-size: 13px;
        }

        &:hover{

          &:after{
            opacity: 1;
          }
        }

        &:after{
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          bottom: 0;
          left: 0;
          height: 1px;
          border-bottom: 4px solid #fff;
          opacity: 0;

          @include transite(all);
        }
      }
    }
  }
}

.main-categories{
  background: $c-main-menu;
  border-top: 1px solid $c-border;
  border-bottom: 1px solid $c-border;

  @include respond-to(768){
    display: none;
  }

    >ul.menu-catalog{
      width: 1440px;
      margin: 0 auto;
      padding: 0 20px;
      display: flex;
      justify-content: space-between;
      position: relative;

      @include respond-to(960){
        width: 960px;
      }

      >li{
        flex: 1 1 auto;
        border-left: 1px solid $c-border;
        display: flex;
        justify-content: center;

        @include transite(all);

        &:last-of-type{
          border-right: 1px solid $c-border;
        }

        &:hover{
          background: #fff;

          >ul.sub-catalog{
            visibility: visible;
            opacity: 1;
          }
        }

        >a{
          text-transform: uppercase;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 70px;
          line-height: 1.2;
          //line-height: 70px;
          font-size: 14px;
          font-weight: 400;
          color: $c-header-text;
          text-align: center;

          @include respond-to(960){
            padding: 0 5px;
            font-size: 12px;
          }
        }

        >ul.sub-catalog{
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          position: absolute;
          background: #fff;
          padding: 20px 40px;
          width: calc(100% - 40px);
          top: 71px;
          left: 20px;
          visibility: hidden;
          opacity: 0;
          z-index: 10;
          border: 1px solid $c-border;
          border-top: none;
          height: 500px;

          @include transite(all);

          >li.sub-category{
            margin-bottom: 20px;

            >ul.sub-catalog{
              margin-left: 20px;
              margin-top: 18px;
              margin-bottom: 20px;
              position: relative;

              a{
                display: block;
                position: relative;
                margin-bottom: 10px;
                font-size: 14px;

                &:before{
                  content: '';
                  display: block;
                  width: 5px;
                  height: 1px;
                  border-bottom: 1px solid $c-text;
                  left: -15px;
                  position: absolute;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
            }
          }
        }
      }
    }
}

.region-slider{
  width: 1440px;
  height: 340px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;

  @include respond-to(960){
    width: 960px;
  }
  @include respond-to(768){
    width: 768px;
    margin-top: 22px;
  }
  @include respond-to(320){
    width: 320px;
  }

  .slick-arrow{
    width: 29px;
    height: 29px;
    border: 1px solid #fff;
    background: rgba(#fff, .15);
    border-radius: 2px;
    z-index: 8;

    @include transite(all);

    &:hover{
      background: $c-accent;
      border-color: $c-accent;

      &:before{
        filter: brightness(100%);
      }
    }

    &:before{
      content: '';
      text-indent: -99999px;
      display: block;
      width: 8px;
      height: 15px;
      background: url('../img/icons/arrow.png') no-repeat center center;
      margin: 0 auto;

      @include transite(all);
    }

    &.slick-prev{
      left: 0;
      right: auto;
    }

    &.slick-next{
      left: auto;
      right: 0;

      &:before{
        transform-origin: 50% 50%;
        transform: rotate(180deg);
      }
    }
  }

  .slick-dots{
    position: absolute;
    right: 28px;
    bottom: 25px;
    display: flex;
    width: auto;

    li{
      display: block;
      width: 11px;
      height: 11px;
      margin: 0;
      margin-right: 6px;

      &:last-of-type{
        margin-right: 0;
      }

      &.slick-active{

        button{
          background: $c-accent;
        }
      }

      button{
        width: 100%;
        height: 100%;
        padding: 0;
        background: #fff;
        border: 1px solid $c-accent;
        border-radius: 100%;

        @include transite(all);

        &:before{
          display: none;
        }
      }
    }
  }

  .views-row{

    .img{
      overflow: hidden;
      height: 340px;

      img{
        display: block;
        max-width: initial;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
    }

    .link{
      position: absolute;

      a{
        display: block;
        font-weight: 300;
        color: #fff;
        background: rgba(#fff, .15);
        height: 43px;
        line-height: 43px;
        padding: 0 20px; 
        border-radius: 2px;

        &:hover{
          background: $c-accent;
          border-color: $c-accent;
        }
      }
    }
  }

  #block-views-sliders-block{
    width: 1034px;
    max-width: 100%;
    position: relative;

    @include respond-to(960){
      width: 576px;
    }
    @include respond-to(768){
      width: 100%;
    }

    .view-content{

      .views-row{
        position: relative;
      }

      .link{
        left: 110px;
        bottom: 62px;

        @include respond-to(320){
          left: 30px;
        }
      }
    }
  }

  #block-views-sliders-block-1{
    width: 350px;
    position: relative;

    @include respond-to(960){
      width: 330px;
    }
    @include respond-to(768){
      display: none;
    }

    .view-content{

      .views-row{
        position: relative;
      }

      .link{
        left: 40px;
        bottom: 62px;
      }
    }
  }
}

.region-submenu{
  width: 1440px;
  margin: 16px auto 0;
  padding: 0 20px;

  @include respond-to(960){
    width: 960px;
  }
  @include respond-to(768){
    display: none;
  }

  .block{

    .content{

      ul{
        display: flex;

        li{
          width: 25%;
          display: block;

          @for $i from 1 through 4{

            &:nth-of-type(#{$i}){

              a{

                &:before{
                  background: url('../img/icons/block__categories/#{$i}.jpg') no-repeat center center;
                }
              }
            }
          }

          a{
            display: flex;
            height: 90px;
            padding-left: 150px;
            padding-right: 20px;
            font-size: 18px;
            align-items: center;
            position: relative;

            @include respond-to(960){
              padding-left: 110px;
            }

            &:before{
              content: '';
              display: block;
              width: 90px;
              height: 90px;
              position: absolute;
              top: 0;
              left: 0;
              background: $c-border;
            }
          }
        }
      }
    }
  }
}

.region-new,
.region-hits,
.region-recommendations{
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;

  @include respond-to(960){
    width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  @include respond-to(768){
    width: 768px;
  }
  @include respond-to(320){
    width: 320px;
  }

  p.block-title{
    color: $c-text;
    font-size: 30px;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 22px;

    @include respond-to(320){
      font-size: 26px;
      margin-top: 22px;
    }
  }

  .view{
    position: relative;

    .more-link{
      position: absolute;
      top: -53px;
      right: 76px;

      @include respond-to(320){
        top: -46px;
        right: 0;
        display: none;
      }

      a{
        width: 126px;
        height: 29px;
        border: 1px solid $c-grey;
        border-radius: 2px;
        color: $c-grey;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;

        @include transite(all);
        @include respond-to(320){
          width: auto;
          border: none;
        }

        &:hover{
          color: #fff;
          background: $c-accent;
          border-color: $c-accent;

          @include respond-to(320){
            background: transparent;
            color: $c-accent;
          }
        }
      }
    }
  }

  .slick-slide{
    width: 262px;
    margin: 0 11px;

    @include respond-to(960){
      margin: 0 33px;
    }
    @include respond-to(768){
      margin: 0 5px;
      width: 236px;
    }
  }

  .slick-arrow{
    width: 29px;
    height: 29px;
    border: 1px solid $c-grey;
    background: rgba(#fff, .15);
    border-radius: 2px;
    z-index: 8;
    transform: none;
    top: -53px;

    @include transite(all);
    @include respond-to(320){
      display: none!important;
    }

    &:hover{
      background: $c-accent;
      border-color: $c-accent;

      &:before{
        filter: brightness(100%);
      }
    }

    &:before{
      content: '';
      text-indent: -99999px;
      display: block;
      width: 8px;
      height: 15px;
      background: url('../img/icons/arrow.png') no-repeat center center;
      margin: 0 auto;
      filter: brightness(50%);

      @include transite(all);
    }

    &.slick-prev{
      left: auto;
      right: 38px;
    }

    &.slick-next{
      left: auto;
      right: 0;

      &:before{
        transform-origin: 50% 50%;
        transform: rotate(180deg);
      }
    }
  }
}

.node-product-display.node-teaser{
  border: 1px solid $c-border;
  padding: 16px 5px 30px;
  width: 100%;
  position: relative;

  .group__img{
    height: 240px;
  }

  .group:not(.group__img){
    padding: 0 15px;

    &.group__header{
      padding: 0;
    }
  }

  .group__header{
    position: absolute;
    top: 0;
    left: 0;

    .commerce-product-field{

      >div{
        width: 48px;
        height: 40px;
        border-radius: 2px;
        margin-bottom: 2px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
      }

      &.commerce-product-field-field-discount{

        >div{
          background: $c-discount;
        }
      }

      &.commerce-product-field-field-novinki{

        >div{
          background: $c-text;
        }
      }

      &.commerce-product-field-field-hit{

        >div{
          background: $c-hit;
        }
      }

      &.commerce-product-field-field-recomendation{

        >div{
          background: $c-choice;
        }
      }
    }
  }

  .group__content{
    padding: 0 10px;

    h4{
      font-size: 14px;
      font-weight: 300;
      margin-top: 20px;
      margin-bottom: 16px;
      display: block;
      height: 33px;
      overflow: hidden;
    }
    
    .text{
      display: none;
    }

    .comments{
      display: none;
    }
  }

  .cart__footer{

    .group__cart{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .prices{

        .price__old{
          text-decoration: line-through;
          color: $c-grey;
          font-size: 14px;
          font-weight: 400;
          //margin-bottom: 5px;
        }

        .price__new{
          font-size: 16px;
          font-weight: 700;
        }

        .price__new{

        }
      }

      input[type="submit"]{
        width: 86px;
        height: 33px;
        color: $c-accent;
        background: #fff;
        font-weight: 600;
        font-size: 14px;
        border-radius: 2px;
        border: 1px solid $c-accent;

        @include transite(all);

        &:hover{
          background: $c-accent;
          color: #fff;
        }
      }
    }
  }

  .group__extra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &:after{
      content: '';
      display: block;
      width: 1px;
      border-right: 1px solid $c-border;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      transform: translate(-50%, -50%);
    }

    input[type="submit"],
    .btn{
      color: $c-grey;
      background: transparent;
      text-decoration: underline;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;

      @include respond-to(768){
        font-size: 13px;
      }
    }

    .compare, .credit{
      padding-left: 36px;
      display: block;
      position: relative;

      &:before{
        content: '';
        display: block;
        width: 27px;
        height: 27px;
        position: absolute;
        top: 50%;
        left: 13px;
        transform: translate(-50%,-50%);
        background: $c-grey;
        border-radius: 100%;
      }

      &:hover{

        ul.pop-up{
          opacity: 1;
          visibility: visible;
        }
      }

      ul.pop-up{
        position: absolute;
        visibility: hidden;
        opacity: 0;
        left: 0;
        top: 50px;

        @include transite(all);
      }
    }
  }
}

.region-subscribes{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
  margin: 60px auto 0;
  height: 154px;
  //padding: 0 20px;
  border-top: 1px solid $c-border;
  border-bottom: 1px solid $c-border;
  background: $c-subscribes;

  @include respond-to(960){
    width: 920px;
  }
  @include respond-to(768){
    width: 728px;
  }
  @include respond-to(320){
    width: 320px;
    padding: 30px 0 20px;
    height: auto;
    border-bottom: none;
    margin-top: 40px;
  }

  #block-block-32{
    color: $c-text;
    width: 472px;
    border-right: 1px solid $c-border;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include respond-to(960){
      width: 272px;
    }
    @include respond-to(768){
      width: 270px;
    }
    @include respond-to(320){
      width: 100%;
      padding: 0 32px 20px;
      margin: 0 auto 20px;
      border: none;
      border-bottom: 1px solid $c-border;
    }

    p.block-title{
      text-transform: uppercase;
      font-weight: 600;
      font-size: 48px;
      margin-bottom: 7px;
      position: relative;

      @include respond-to(960){
        font-size: 28px;
      }

      &:before{
        content: '';
        display: block;
        position: absolute;
        width: 178px;
        height: 93px;
        background: url('../img/icons/sticker__subscribe.png');
        opacity: .4;
        top: -19px;
        left: -120px;

        @include respond-to(960){
          display: none;
        }
      }
    }

    .content{
      font-weight: 300;
    }
  }

  #block-webform-client-block-2806{
    width: 858px;
    position: relative;

    @include respond-to(960px){
      width: 630px;
    }
    @include respond-to(768){
      width: 438px;
    }
    @include respond-to(320){
      width: 280px;
      margin: 0 auto;
    }

    &:after{
      content: '';
      display: block;
      width: 66px;
      height: 31px;
      position: absolute;
      background: url('../img/icons/pointer.png');
      top: 0;
      right: 340px;

      @include respond-to(960){
        display: none;
      }
    }

    .content{
      position: relative;

      &:before{
        content: '';
        display: block;
        background: #000;
        width: 325px;
        height: 174px;
        position: absolute;
        top: -51px;
        right: -6px;
        background: url('../img/icons/subscribe.png');

        @include respond-to(960){
          top: -41px;
        }
        @include respond-to(768){
          display: none;
        }
      }

      &:after{
        content: '';
        display: block;
        width: 41px;
        height: 41px;
        position: absolute;
        top: -47px;
        right: -2px;
        background: url('../img/icons/subscribe__triangle.png') no-repeat;

        @include respond-to(960){
          top: -37px;
        }
        @include respond-to(768){
          display: none;
        }
      }

      form{
        position: relative;

        @include respond-to(320){
          text-align: center;
        }

        input[type="email"]{
          border: 1px solid $c-border;
          width: 420px;
          height: 40px;
          background: #fff;
          border-radius: 2px;
          padding: 0 20px;
          color: $c-grey;
          margin-bottom: 11px;

          @include respond-to(960){
            width: 296px;
          }
          @include respond-to(768){
            width: 100%;
            height: 33px;
          }
        }

        input[type="submit"]{
          background: $c-accent;
          width: 285px;
          height: 64px;
          font-size: 24px;
          font-weight: 700;
          text-transform: uppercase;
          color: #fff;
          border: 1px solid $c-accent;
          position: absolute;
          top: -21px;
          right: 14px;
          cursor: default;

          @include transite(all);
          @include respond-to(960){
            top: -11px;
          }
          @include respond-to(768){
            width: 147px;
            height: 33px;
            font-size: 12px;
            top: 60px;
            right: 0;
          }
          @include respond-to(320){
            position: static;
            margin-top: 6px;
          }

          &:disabled{
            opacity: .5;
          }

          &:not(:disabled){
            cursor: pointer;

            &:hover{
              background: #fff;
              color: $c-accent;
            }
          }
        }

        .fieldset-wrapper{
          display: flex;
          align-items: center;

          @include respond-to(960){
            display: block;
          }

          .webform-component--fieldset--usloviya-podpiski---ssylka{
            margin-right: 58px;

            @include respond-to(320){
              margin: 0;
              text-align: center;
            }

            a{
              font-size: 14px;
              font-weight: 300;
              color: $c-text;
              text-decoration: underline;

              @include transite(all);

              &:hover{
                color: $c-accent;
              }
            }
          }

          .webform-component--fieldset--usloviya-podpiski---tekst{
            position: absolute;
            display: none;
          }

          .webform-component--fieldset--ya-soglasen-s-usloviyami-podpiski{

            label{
              font-weight: 300;
              font-size: 14px;
              color: $c-text;
              margin-left: 8px;
            }

            input{
              background: #fff;
              width: 11px;
              height: 11px;
              border: 1px solid $c-border;
              border-radius: 2px;
              margin-bottom: 1px;
            }
          }
        }
      }
    }
  }
}

.popup-element{
  background: #fff;
  position: fixed!important;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(.3);
  display: block!important;
  padding: 44px 40px 54px;
  width: 496px;
  min-height: 500px;
  max-height: calc(100vh - 40px);
  box-shadow: 0 3px 4px rgba(#000, .4);
  opacity: 0;
  visibility: hidden;

  @include transite(all);

  &.is-active{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    z-index: 20;
  }

  .close{
    position: absolute;
    top: 8px;
    right: 16px;
    color: $c-grey;
    cursor: pointer;
    transform-origin: 50% 50%;
    transform: rotate(45deg);
    font-size: 30px;
    font-weight: 300;

    @include transite(all);

    &:hover{
      color: $c-accent;
    }
  }
}

.region-shares{
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;

  @include respond-to(960){
    width: 960px;
  }
  @include respond-to(768){
    width: 768px;
  }
  @include respond-to(320){
    width: 320px;
  }

  p.block-title{
    color: $c-text;
    font-size: 30px;
    font-weight: 400;
    margin-top: 35px;
    margin-bottom: 22px;
  }

  .view{
    position: relative;

    .more-link{
      position: absolute;
      top: -53px;
      right: 76px;

      @include respond-to(320){
        top: -49px;
        right: 0;
      }

      a{
        width: 126px;
        height: 29px;
        border: 1px solid $c-grey;
        border-radius: 2px;
        color: $c-grey;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;

        @include transite(all);
        @include respond-to(320){
          width: auto;
          border: none;
        }

        &:hover{
          color: #fff;
          background: $c-accent;
          border-color: $c-accent;

          @include respond-to(320){
            background: transparent;
            color: $c-accent;
          }
        }
      }
    }
  }

  .slick-slide{
    width: 690px;
    margin: 0 11px;

    @include respond-to(960){
      width: 450px;
    }
    @include respond-to(320){
      width: 280px;
    }
  }

  .slick-arrow{
    width: 29px;
    height: 29px;
    border: 1px solid $c-grey;
    background: rgba(#fff, .15);
    border-radius: 2px;
    z-index: 8;
    transform: none;
    top: -53px;

    @include transite(all);

    @include respond-to(320){
      display: none!important;
    }

    &:hover{
      background: $c-accent;
      border-color: $c-accent;

      &:before{
        filter: brightness(100%);
      }
    }

    &:before{
      content: '';
      text-indent: -99999px;
      display: block;
      width: 8px;
      height: 15px;
      background: url('../img/icons/arrow.png') no-repeat center center;
      margin: 0 auto;
      filter: brightness(50%);

      @include transite(all);
    }

    &.slick-prev{
      left: auto;
      right: 38px;
    }

    &.slick-next{
      left: auto;
      right: 0;

      &:before{
        transform-origin: 50% 50%;
        transform: rotate(180deg);
      }
    }
  }

  .views-row{

    a{
      display: block;
    }

    img{
      display: block;
    }
  }
}

.region-useful{
  width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @include respond-to(960){
    width: 960px;
  }
  @include respond-to(768){
    width: 768px;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  @include respond-to(320){
    width: 320px;
    flex-wrap: wrap;
  }

  .block{

    p.block-title{
      color: $c-text;
      font-size: 30px;
      font-weight: 400;
      margin-top: 35px;
      margin-bottom: 22px;

      @include respond-to(320){
        font-size: 26px;
      }
    }

    .view-content{
      width: 690px;
      background: $c-main-menu;
      padding: 40px 30px;

      @include respond-to(960){
        width: 450px;
      }
      @include respond-to(320){
        width: auto;
      }
    }
  }

  .view{

    .more-link{
      margin-top: 20px;

      a{
        width: 126px;
        height: 29px;
        border: 1px solid $c-grey;
        border-radius: 2px;
        color: $c-grey;
        font-size: 14px;
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;

        @include transite(all);

        &:hover{
          color: #fff;
          background: $c-accent;
          border-color: $c-accent;
        }
      }
    }

    @include respond-to(320){

      .more-link{
        position: absolute;
        top: -53px;
        right: 76px;

        @include respond-to(320){
          top: 22px;
          right: 0;
        }

        a{
          width: 126px;
          height: 29px;
          border: 1px solid $c-grey;
          border-radius: 2px;
          color: $c-grey;
          font-size: 14px;
          font-weight: 400;
          display: flex;
          justify-content: center;
          align-items: center;

          @include transite(all);
          @include respond-to(320){
            width: auto;
            border: none;
          }

          &:hover{
            color: #fff;
            background: $c-accent;
            border-color: $c-accent;

            @include respond-to(320){
              background: transparent;
              color: $c-accent;
            }
          }
        }
      }
    }
  }

  .views-row{

    &:first-of-type{
      border-bottom: 1px solid $c-grey;
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
  }

  .node.node-teaser{
    display: flex;

    &:after{
      display: none;
    }

    .group-left{
      width: 150px;
      margin-right: 30px;

      @include respond-to(320){
        display: none;
      }
    }

    .group-right{
      width: 452px;

      @include respond-to(960){
        width: 210px;
      }
      @include respond-to(320){
        width: auto;
      }

      .title{
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        color: $c-text;
        margin-bottom: 20px;

        @include transite(all);
        @include respond-to(960){
          margin-bottom: 14px;
        }

        &:hover{
          color: $c-accent;
        }

        a{

        }
      }

      .date{
        color: $c-accent;
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 20px;

        @include respond-to(960){
          margin-bottom: 14px;
        }
      }

      .text{
        color: $c-text;
        font-size: 14px;

        @include respond-to(960){
          overflow: hidden;
          max-height: 74px;
          line-height: 1.4;
        }
      }
    }
  }
}

.company-info{
  width: 1440px;
  padding: 0 20px;
  margin: 34px auto 70px;
  display: flex;
  justify-content: space-between;

  @include respond-to(960){
    width: 960px;
  }
  @include respond-to(768){
    width: 768px;
  }
  @include respond-to(320){
    width: 320px;
    margin-bottom: 50px;
    display: block;
  }

  .about__us{
    position: relative;
    width: 690px;

    @include respond-to(960){
      width: 454px;
    }
    @include respond-to(768){
      width: 392px;
    }
    @include respond-to(320){
      width: auto;
    }

    #block-block-33{
      display: flex;
      padding-bottom: 46px;
      border-bottom: 1px solid $c-border;
      margin-left: -8px;
      margin-top: 34px;

      @include respond-to(960){
        padding-bottom: 20px;
      }
      @include respond-to(320){
        display: block;
      }

      p.block-title{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 30px;
        position: relative;
        width: 120px;
        padding-left: 60px;
        margin-right: 50px;
        display: flex;
        align-items: center;

        @include respond-to(960){
          margin-right: 24px;
          top: -44px;
        }
        @include respond-to(768){
          width: 114px;
          top: -54px;
        }
        @include respond-to(320){
          position: relative;
          top: 0;
          padding-left: 32px;
          margin-bottom: 30px;
        }

        &:before{
          content: 'o';
          display: block;
          font-size: 202px;
          font-weight: 700;
          color: $c-os;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          opacity: .2;
          font-family: 'Roboto Condensed', sans-serif;

          @include respond-to(768){
            font-size: 94px;
          }
        }
      }

      .content{
        color: $c-os;
        font-weight: 300;
        font-size: 14px;
        line-height: 1.4;

        @include respond-to(320){
          padding-left: 8px;
        }

        p{
          margin-bottom: 20px;

          @include respond-to(768){
            margin-bottom: 10px;
          }

          &:last-of-type{
            margin-bottom: 0;

            @include respond-to(960){
              margin-left: -88px;
            }
            @include respond-to(768){
              margin-left: -98px;
            }
            @include respond-to(320){
              margin-left: 0;
            }
          }
        }
      }
    }

    #block-block-34{
      margin-top: 30px;

      @include respond-to(960){
        margin-top: 20px;
      }
      @include respond-to(320){
        padding-left: 8px;
      }

      .content{
        font-size: 14px;
        font-weight: 300;
        padding-left: 40px;
        color: $c-text;

        @include respond-to(960){
          padding-left: 63px;
        }
        @include respond-to(768){
          padding-left: 10px;
        }

        ul{
          list-style: initial;

          li{
            padding-left: 10px;

            @include respond-to(320){
              padding-left: 0;
            }
          }
        }
      }
    }

    .logo{
      position: absolute;
      right: 50px;
      bottom: 28px;

      @include respond-to(960){
        display: none;
      }
    }
  }

  .region-map{
    width: 690px;
    max-width: 100%;

    @include respond-to(960){
      width: 450px;
    }
    @include respond-to(768){
      width: 320px;
      margin-top: 34px;
    }

    #block-block-35{
      position: relative;

      &:after{
        content: '';
        display: block;
        position: absolute;
        width: 90px;
        height: 90px;
        background: url('../img/icons/map.jpg') center center;
        top: -10px;
        right: 0;
      }

      p.block-title{
        color: $c-os;
        font-size: 24px;
        font-weight: 300;
        text-align: right;
        padding-right: 108px;
        margin-bottom: 7px;
      }

      .content{
        overflow: hidden;

        img{
          max-width: initial;
          position: relative;
          left: 50%;
          transform: translateX(-50%);

          @include respond-to(960){
            height: 326px;
          }
        }
      }
    }
  }
}

footer{
  background: $c-subscribes;

  .container{
    width: 1440px;
    margin: 0 auto;
    padding: 40px 20px 48px;
    color: $c-text;
    display: flex;
    font-size: 14px;
    justify-content: space-between;

    @include respond-to(960){
      width: 960px;
    }
    @include respond-to(768){
      width: 768px;
    }
    @include respond-to(320){
      width: 320px;
      display: block;
      padding: 40px 20px 30px;
    }

    >div{
      flex: 1 1 auto;
    }

    p.block-title{
      font-weight: 500;
      margin-bottom: 20px;
    }

    .footer__left{
      display: flex;

      @include respond-to(320){
        display: none;
      }

      .submenu{

        ul.menu{

          li{
            margin: 0 0 18px;
          }
        }
      }

      .submenu__left{
        width: 174px;
        border-right: 1px solid $c-border;

        @include respond-to(960){
          width: 150px;
          border: none;
        }
        @include respond-to(768){
          width: 140px;
        }
      }

      .submenu__right{
        width: 474px;
        padding-left: 70px;

        @include respond-to(960){
          width: 360px;
          padding-left: 20px;
        }
        @include respond-to(768){
          width: 360px;
        }

        ul.menu{
          height: 156px;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;

          li:nth-of-type(5n){
            margin-bottom: 0;
          }
        }
      }
    }

    .region-footer-center{
      width: 346px;
      border-right: 1px solid $c-border;
      border-left: 1px solid $c-border;
      padding-left: 70px;
      padding-right: 70px;

      @include respond-to(960){
        border-right: none;
        padding-left: 40px;
        padding-right: 40px;
      }
      @include respond-to(768){
        padding-left: 20px;
        padding-right: 20px;
      }
      @include respond-to(320){
        border: none;
        padding: 0;
      }

      .block{

        .content{

          em{
            font-style: normal;
            display: block;
          }

          p{
            margin-bottom: 20px;
          }
        }
      }
    }

    .region-footer-right{
      width: 350px;
      padding-left: 70px;
      padding-bottom: 44px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include respond-to(960){
        width: 250px;
        padding-left: 20px;
        padding-bottom: 0;
      }
      @include respond-to(768){
        width: auto;
      }
      @include respond-to(320){
        padding: 0;
      }

      #block-block-37{

        @include respond-to(768){
          display: none;
        }

        .content{
          font-weight: 500;
        }
      }

      #block-block-38{

        @include respond-to(768){
          display: none;
        }

        .content{

          a{
            color: $c-text;
            text-decoration: underline;
            font-weight: 400;

            &:hover{
              color: $c-accent;
            }

            @include transite(all);
          }
        }
      }

      #block-block-39{

        @include respond-to(320){
          margin-top: 20px;
        }

        .content{

          ul{
            display: flex;
            flex-wrap: wrap;

            @include respond-to(768){
              display: block;
            }
            @include respond-to(320){
              display: flex;
              flex-wrap: wrap;
            }

            a{
              display: block;
              width: 46px;
              height: 46px;
              border-radius: 100%;
              background: #000;
              position: relative;
              margin-right: 20px;
              text-indent: -99999px;

              @include respond-to(960){
                margin-right: 10px;
                margin-bottom: 10px;
              }
              @include respond-to(768){
                margin-left: auto;
                margin-right: 0;
              }
              @include respond-to(320){
                margin-right: 10px;
              }

              &:after{
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 50%;
                left: 50%;
                background: #fff;
                transform: translate(-50%,-50%);

                @include transite(all);
              }

              &:hover{

                &:after{
                  background: $c-accent;
                }
              }
            }
          }
        }
      }
    }
  }

  .copyright{
    background: $c-accent;

    .wrapper{
      width: 1440px;
      height: 50px;
      margin: 0 auto;
      padding: 0 20px;
      color: #fff;
      font-size: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include respond-to(960){
        width: 960px;
      }
      @include respond-to(768){
        width: 768px;
      }
      @include respond-to(320){
        width: 320px;
      }
    }
  }
}